// Reset CSS
html {
    font-size: 15px;
    box-sizing: border-box;
}
  
*, *::before, *::after { box-sizing: inherit; }
  
body {
    background: --light;
}

body,
h1,
h2,
h3,
p {
    color: --light-bg-text;
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    margin: 0 auto;
    // border: 1px solid black;
}

.box {
    border: 1px solid black;
    border-top: 8px solid black;
    padding: 1em;
    border-radius: 14px;
}

