// HEADER
#soc-header {
    display: flex; 
    padding: 2em;
}

.soc-header-1 {
    border: 1px solid black;
}

.right {
    border: 1px solid black;
}

#soc-header h1,
#soc-header p {
    font-weight: 700;
}