// HEADER
#soc-header {
    display: flex; 
    flex-direction: row;
    padding: 2em;
}

.l-header {
    display: flex;
    // border: 1px solid red;
}

.l-header h1 {
    flex-basis: 50%;
}


.l-header .right {
    flex-basis: 100%;
    text-align: right;
    margin: auto 5em; 
}

#soc-header h1,
#soc-header p {
    font-weight: 700;
}